YUT<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=gb2312">
  <meta http-equiv="Content-Language" content="zh-cn" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Copyright" content="All Rights Reserved." >
  <script src="./appcfg-debug-php.js"></script>
  <title>ZL100MT Debug Php</title>
</head>

<!-- <body id="mainFrm" onload="initMain()"> -->
<body id="mainFrm">
  <script src="./bundle.js"></script>

</body>

</html>

<!-- example of the index.html ----
  this html file is used for your local debug,
  it won't be packed, so you can debug your code more easier.
  ----
YangYutong, 2019-4-12
 -->