<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=gb2312">
  <meta http-equiv="Content-Language" content="zh-cn" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZL100MT</title>
  <link rel='icon' href='./img/icon.ico' type='image/x-ico' />
  <link rel="stylesheet" type="text/css" href="./css/tab.css" />
  <link rel="stylesheet" type="text/css" href="./css/main.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/video-js.7.2.4.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="./css/video-js.5.20.1.min.css" />
  <script src="./js/jquery-3.3.1.min.js"></script>
  <!-- <script src="js/video.7.2.4.min.js"></script> -->
  <script src="./js/video.5.20.1.min.js"></script>
  <script src="./js/tools.js"></script>
  <script src="./main.js"></script>
  <!--?? 发布版本需要移除 MOCK ?? -->
  <script src="./debug/mock/mock-min.js"></script>
  <script src="./debug/mock/mock.test.js"></script>
  <meta name="Copyright" content="All Rights Reserved." >
</head>

<body id="mainFrm" onload="Init()">
<!-- <body> -->
    <div class="navtitle">
        <h3 class="name">ZL100MT System Console</h3> <a id="titleVer" class="version">version</a>
        <select id="langSelector" class="language p2">
            <option value="cn">中文</option>
            <option value="en">English</option>
        </select>
        <button id="titleRefreshBtn" class="incell" style="margin: 10px 10px; float: right;">刷新数据</button>
    </div>
    <!-- left sidrbar -->
    <div id="sideBarContent" class = "sidebarleft " >
        <div>
            <a id="dashboardEntry" href="#"  title="Dashboard">仪表板</a>
            <a id="sysStatusViewEntry" href="#"  title="System Status">系统状态</a>
            <a id="networkViewEntry" href="#"  title="Network">网络配置</a>
            <h2 id="txtSystemToolsItem">系统工具</h2>
            <ul>
                <li id="userMgtViewEntry" ><a href="#"  title="User Management" id="userMgtViewEntryTxt">用户管理</a></li>
                <li id="sysMaintViewEntry" ><a href="#" title="System Maintain" id = "sysMaintViewEntryTxt">系统维护</a></li>
                <li id="videoViewEntry" ><a href="#" title="Video view" id="videoViewEntryTxt">视频视图</a></li>
            </ul>
        </div>
    </div>
    <!-- main contenct -->
    <div id="mainContent" class="maincontent hidden" >
        <!-- 功能View区 -->
        <div id="dashboardView" class="fixfrm hidden"> 
        </div>

        <div id="sysStatusView" class="fixfrm hidden">
        </div>

        <div id="networkView" class="fixfrm hidden" style="width: 950px;">
        </div>

        <div id="userMgtView" class="fixfrm hidden">
        </div>

        <div id="sysMaintView" class="fixfrm hidden">
        </div>
    </div>
<!-- <div class="sidebarright"></div> -->
    <!-- START videoView -->
    <div id="videoView" class="transmodalview hidden">
    </div>
    <!-- downloadview 区 -->
    <div id="downloadview" class="transmodalview hidden">
        <div class = "showarea">
            <div class="operationmodalview">
                <div class="view-header clearfix">
                    <a id="dlvTitleTxt">航程</a>
                </div>
                <table class="dataintable"  style="margin-top: 1px;">
                    <tbody id="dlvFileListTbl" >
                        <tr>
                            <th>数据记录包</th> <th>文件大小</th> <th>文件下载连接</th>
                        </tr>
                        <!-- <tr>
                            <td><a id="dlvFileNameTxt">xxx</a></td>
                            <td><a id="dlvFileSizeTxt">xxx</a></td>
                            <td><a id="dlvUrlTxt">xxx</a></td>
                        </tr> -->
                    </tbody>
                </table>
                <button id="dlvExitBtn" style="margin: 15px 0 15px 0; background: #f52c2c">退出</button>
            </div>
        </div>
    </div>
    <!-- LoginView区 -->
    <div id="loginView" class="loginview hidden">
        <div>
            <input id="lgUserNameInput" placeholder="User Name" name="name" type="text" autofocus=""/>
            <input id="lgPWDInput" placeholder="Password" name="password" type="password" value=""/>
            <button id="lgSubmitBtn" title="登陆">用户登陆</button>
        </div>
    </div>
    <!-- END LoginView区 -->
    <!--footer -->
    <div class="footer">
        <p class="p1" id="footerTitle"> ZL100MT 数据融合仪 | 版权所有XXX, 2018. </p>
    </div> 

</body>

</html>