<!-- CDashboardView View 的 html定义 -->

<div>
    <table class="dataintable">
    <tbody>
        <tr> <th id="dsvSysTitleTxt" colspan="4">系统状态</th></tr>
        <tr>
            <td class="weight" style="width:160px"><a id="dsvLocTimeTxt">本机时间</a></td> <td><a id="dsvLocTimeVal">n/a</a></td>
            <td class="weight" style="width:150px"><a id="dsvDurationTimeTxt">本次开机持续时间</a></td> <td><a id="dsvDurationTimeVal">n/a</a></td>
        </tr>
        <tr>
            <td class="weight"><a id="dsvHwMacTxt">本机硬件地址</a></td> <td><a id="dsvHwMacVal">n/a</a></td>
            <td class="weight"><a id="dsvHwIPTxt">本机IP地址</a></td> <td><a id="dsvHwIPVal">n/a</a></td>
        </tr>
        <tr>
            <td class="weight"><a id="dsvIMEITxt">本机设备号</a></td>
            <td colspan="3"><a id="dsvIMEIVal">n/a</a></td>
        </tr>

        <tr>
            <td class="weight"><a id="dsvFWVerTxt">固件版本号</a></td>
            <td colspan="3"><a id="dsvFWVerVal">n/a</a></td>
        </tr>
    </tbody>
    </table>
    <table class="dataintable">
    <tbody>
        <tr> <th id="dsvModTitleTxt" colspan="4">模块状态</th></tr>
        <tr> <th id="dsvModTblTxt" class="light" style="width:150px">模块</th>  <th class="light" id="dsvConnTblTxt">连接状态</th> <th class="light" id="dsvSignalTxt">信号强度(dBm)</th> <th class="light" id="dsvOperaTxt" style="width:160px">操作</th> </tr>
        <tr>
            <td><a>LTE-Z (Private)</a></td> <td><a id="dsvModTblZConnectVal">n/a</a></td> <td><a id="dsvLteZSignalVal">n/a</a></td> 
            <td><button id="dsvmtZConnectBtn" class="incellsmall" style="width:75px">连接</button><button id="dsvmtZDisconBtn" class="incellsmall" style="width:75px">断开</button></td>
        </tr>
        
        <tr>
            <td><a>LTE-4G (Public)</a></td> <td><a id="dsvModTbl4GConnectVal">n/a</a></td> <td><a id="dsvLte4GSignalVal">n/a</a></td> 
            <td><button id="dsvmt4GConnectBtn" class="incellsmall" style="width:75px">连接</button><button id="dsvmt4GDisconBtn" class="incellsmall" style="width:75px">断开</button></td>
        </tr>

        <tr>
            <td><a>GNSS (GPS/BD)</a></td>
            <td><a id="dsvModTblGnssConnectVal">n/a</a></td> <td><a id="dsvGnssSignalVal">n/a</a></td> <td><a></a></td>
        </tr>

    </tbody>
    </table>
</div>