<!-- 
CDownloadView
 -->

<div class = "showarea">
    <div class="operationmodalview">
        <div class="view-header clearfix">
            <a id="dlvTitleTxt">航程</a>
        </div>
        <table class="dataintable"  style="margin-top: 1px;">
            <tbody id="dlvFileListTbl" >
                <tr>
                    <th>数据记录包</th> <th>文件大小</th> <th>文件下载连接</th>
                </tr>
                <!-- <tr>
                    <td><a id="dlvFileNameTxt">xxx</a></td>
                    <td><a id="dlvFileSizeTxt">xxx</a></td>
                    <td><a id="dlvUrlTxt">xxx</a></td>
                </tr> -->
            </tbody>
        </table>
        <button id="dlvExitBtn" style="margin: 15px 0 15px 0; background: #f52c2c">退出</button>
    </div>
</div>