<!-- 
CSysMaintView View html
 -->

<div>
    <table class="dataintable">
    <tbody>
        <tr><th colspan="3" id='smvNTPTitle'>NTP对时</th></tr>
        <tr><td class="weight" style="width: 100px">NTP Server</td> <td><input id="smvNTPServerIP" value="" style="width: 100px;"><a> default: 210.72.145.44</a></td>
            <td rowspan="2" style="text-align: center;vertical-align: middle"><button id="smvRefreshBtn" class="incell" style="width: 100px; height: 50px">刷新</button></td>
        </tr>
        <tr><td class="weight" style="width: 100px"><a id="smvTime">网络对时</a></td> <td><a id="smvTimeVal">TBD</a></td>
        </tr>
    </tbody>
    </table>
</div>
<div>
    <table class="dataintable">
    <tbody>
        <tr><th colspan="4" id='smvTitleGJWH'>固件升级维护</th></tr>
        <tr><td id="smvHWIp" class="weight" style="width: 100px"><a>设备地址</a></td>
            <td colspan="3"><a id="smvHWIpVal">N/A</a></td>
        </tr>
        <tr><td class="weight"><a id="smvHWIMEI">硬件设备号</a></td>
            <td colspan="3"><a id="smvHWIMEIVal">N/A</a></td>
        </tr>
        <tr><td class="weight"><a id="smvFWVer">固件版本号</a></td>
            <td colspan="2"><a id="smvFWVerVal">N/A</a></td>
            <td style="width: 100px"><button id="smvSetDefaultBtn" class="incell" style="width: 95px">恢复出厂设置</button></td>
        </tr>
        <tr><td class="weight"><a id="smvUpFW">升级固件</a></td>
            <td  colspan="2" style="vertical-align: middle"> <input id = "smvUpgradeFileObj" type="file" class="hidden" />
                <input id="smvUpgradeFilePath" readonly="readonly" placeholder="firmware upgrade package" style="width: 350px;"></td>
            <td style="width: 100px">
                <button id="smvBrowseFileBtn" class="incell" style="width: 95px">选取文件</button>
                <button id="smvUploadFileBtn" class="incell" style="width: 95px; margin: 3px 0 3px 0;">上传新固件</button></td>
        </tr>
        <tr><td class="weight"><a id="smvNewFW">新固件</a></td>
            <td>Ver: <a id="smvNewFWVerVal">N/A</a></td>
            <td>MD5: <a id="smvNewFWMd5Val">N/A</a></td>
            <td><button id="smvRebootBtn" class="incell" style="width: 95px">重启设备</button></td>
        </tr>
    </tbody>
    </table>
</div>
<div>
    <table class="dataintable">
    <tbody>
        <tr><th colspan="3" id="smvTitleLog">日志维护</th></tr>
        <tr><th class="light" id="smvLogStartDate">开始时间:</th><th class="light" id="smvLogEndDate">结束时间:</th><th class="light" id="smvLogOperation">操作</th></tr>
        <tr><td><input id = "smvStartDateInput" type="datetime-local"/></td><td><input id = "smvEndDateInput" type="datetime-local"/></td>
            <td style="width: 100px"><button id="smvRefreshLogBtn" class="incell" style="width: 85px" >刷新日志</button></td>
        </tr>
    </tbody>
    <tbody id="smvLogFileListTbl">
        <tr><th colspan="3" class="light" id="smvLogTH">Log记录链接</th></tr>
        <tr> <td colspan="3"><a id="smvLog">Log记录Link</a></td> </tr>
    </tbody>
    </table>
</div>