
<!-- 
CUserMgtView View的 html 定义
 -->
 <div>
    <table class="dataintable">
    <tbody>
        <tr> <th colspan="2" id="umvTitle">用户管理</th></tr>
        <tr> <td class="weight" style="width: 140px"><a id="umvName">用户名</a></td> <td><a>admin</a></td> </tr>
        <tr><td class="weight"><a id="umvPWD">密码</a></td>
            <td><input id="uvOldPWDInput" type="password" placeholder="password" style="width: 220px;"/></td>
        </tr>
        <tr><td class="weight"><a id="umvNewPWD">新密码</a></td>
            <td><input id="uvNewPWDInput" type="" placeholder="password" style="width: 220px;"/></td>
        </tr>
        <tr><td class="weight"><a id="umvCmPWD">确认新密码</a></td>
            <td><input id="uvConfirmNewPWDInput" type="" placeholder="password" style="width: 220px;"/></td>
        </tr>
    </tbody>
    </table>
    <div></div>
    <button id="uvResetBtn">重置为缺省值</button>
    <button id="uvSaveBtn">保存</button>
</div>
