<!--
CVideoView View的 html 定义
-->

<div id="vvShowarea" class = "showarea">
    <div id="vvOperationView" class="operationmodalview">
        <div id="vvVideoHeader" class="view-header clearfix">
            <a style="float:left; margin-left:10px">RTMP:</a>
            <!-- <input id="vvRtmpAddress" type="" placeholder="rtmp://127.0.0.1:1935/live/fqr" readonly style="float:left; margin-left:10px; margin-top: 4px; width: 300px"/> -->
            <!-- <input id="vvRtmpAddress" type="" value="" readonly style="float:left; margin-left:10px; margin-top: 4px; width: 300px"/> -->
            <select id='vvRtmpUrlSelector' style="float:left; margin-left:10px; margin-top: 6px; width: 300px"><!--option value=''>rtmp://127.0.0.1:1935/live/left-1</option--></select>
            <button id="vvPlayBtn" class="title incell">连接</button>
            <button id="vvExitBtn" class="title incell">退出</button>
        </div>
        <div id="vvVideoContent" class="video-content" >
            <!-- <video id="videoCtrl" class="video-js" preload="auto" width="100%">
                <source src="" type="rtmp/flv"/>
                <a id="vvVCtrlErr">浏览器不支持播放video,请试用以下浏览器IE 9+、Firefox、Opera、Chrome 和 Safari.</a>
                <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">
                          supports HTML5 video
                        </a>
                      </p>
            </video> -->
        </div>
        <div id="vvVideoFooter" class="view-footer clearfix"></div>
    </div>
    <!-- <div>
        <div class="btn-content" >
            <input id="muteCheckbox" type="checkbox" name ="mute" value="muted"/>Mute
        </div>
        <div>
            <a id="currectTimeTxt" >00:00:00</a>
            <input id="progressBar" type="range" value="0" min="0" step="1"/>
            <a id="endTimeTxt">00:00:00</a>
        </div>
        <div>
            <button id="vvPlayBtn">播放</button>
            <button id="vvPauseBtn">暂停</button>
            <button id="vvStopBtn">停止</button>
            <button id="vvExitBtn" style="background: #f52c2c">退出</button>
        </div>
    </div> -->
</div>